<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Password change</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="email" name="username" required>
              <mat-error *ngIf="passwordForm.controls.email.touched && passwordForm.controls.email.errors?.required">Email is required</mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
            <mat-error *ngIf="passwordForm.controls.password.touched && passwordForm.controls.password.errors?.required">Password is required</mat-error>
            <mat-error *ngIf="passwordForm.controls.password.touched && passwordForm.controls.password.errors?.minlength">Must be at least 8 characters</mat-error>
          </mat-form-field></td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Confirm password" formControlName="confirm" type="password" name="confirm" required>
            <mat-error *ngIf="passwordForm.controls.confirm.touched && passwordForm.controls.confirm.errors?.required">Confirm password is required</mat-error>
            <mat-error *ngIf="passwordForm.controls.confirm.touched && passwordForm.controls.confirm.errors?.mustMatch">
              Passwords do not match
                  </mat-error>
          </mat-form-field></td>
        </tr>
      </table>
        <mat-card-actions>
          <button mat-raised-button color="primary">Submit</button>
        </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
